a img {
    height: 500px;         
    width: 300px;          
    object-fit: cover;
    display: block;
    margin-top: 20px;
    margin-left: 0;
    right: 20px;
  }
  /*read button*/
  .read-button {
    margin-top: 20px;
    display: flex;
    align-items: center;   /* Vertically centers the text and icon */
    justify-content: center; /* Centers both the text and icon horizontally */
    position: relative;
    height: 50px;
    width: 300px;
    border: 2px solid #ccc; 
    border-radius: 30px;  
    background-color: #B0E0E6;  
    cursor: pointer;
  }
  
  .read-button .text {
    margin-right: 10px; /* Creates space between the text and divider */
  }
  
  .read-button .divider {
    width: 2px; /* White line width */
    height: 20px; /* Height of the line */
    background-color: white; /* White line color */
    margin-right: 10px; /* Space between line and icon */
  }
  
  .read-button i.book {
    margin-left: 10px; /* Space between the white line and the book icon */
  }
/*star rating */
.rating {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
  }
  
  .rating input {
    display: none; 
  }
  
  .rating label {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: left;
    cursor: pointer;
  } 
  
  .rating label::before {
    content: '\f005'; /* star icon */
    font-family: FontAwesome;
    font-size: 34px;
    color: white; 
    -webkit-text-stroke: 2px #f8f80c; /* yellow border */
    transition: color 0.3s;
  }
  
  /* Yellow stars when selected */
  .rating input:checked + label::before,
  .rating input:checked ~ label::before {
    color: #f8f80c;
    
  }
  
  /* Yellow stars on hover */
  .rating label:hover::before,
  .rating label:hover ~ label::before {
    color: #f8f80c;
    transform:scale(1.3)
  }
  
  .rating label[data-clicked]{
    color: #f8f80c;

  }
/*search bar colour*/
.custom-button {
    background-color: rgb(7, 191, 228);
    border-radius: 10px;
    color: white; 
 }
 
  /* lighmode button*/
.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.btn {
    background-color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    padding: 0 0.5em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn-indicator {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}

.btn_icon-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_icon {
    color: #FFDE59;
    font-size: 1.5rem;
}
.darkmode .btn_icon {
    color: #311587;
    font-size: 1.5rem;
    
}
/* Dark Mode */
.darkmode {
    background-color: #2D828D;
    color: white;
}

.darkmode .navbar {
    background-color: #246871 !important;
    color: white;
}

.darkmode .hero-text {
    color: #fff;
}

.darkmode .custom-button {
    background-color: #246871;
}

.darkmode .hero-text button {
    background-color: #246871;
    color: white;
}

.darkmode #site-footer {
    background-color: #246871;
}

.darkmode #footer-text {
    color: #ccc;
}

.darkmode .banner {
    background-color: #246871;
}