/*website background colour */
body {
    background-color: white; 
 }
 /*search bar colour*/
 .custom-button {
    background-color: rgb(7, 191, 228);
    border-radius: 10px;
    color: white; 
 }
 
 .banners-container {
   display: flex;
   margin-top: 200px;
   margin-left:20px;
   gap: 120px;
   justify-content: centre;
 }
 
 .banner {
   background-color:  #B0E0E6;
   width: 180px;
   height: 60px;
   padding: 16px;
   box-sizing: border-box;
   border-radius: 8px;
   color: white;
 }

 .carousel-size{
 max-height: 500px;
 margin-top: 20px;
 justify-content: left;
 width: 100%;
 object-fit: cover;


 }
 .carousel-container {
  max-width: 300px;
  margin: auto;
  overflow: hidden;
  position: relative; /* important for absolute positioning inside */
}

.carousel-control-prev,
.carousel-control-next {
  width: 20%;
  top: 0;
  bottom: 0;
  position: absolute; 
  z-index: 10;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* make arrows visible */
  background-size: 100% 100%;
  border-radius: 50%;
}

.mainCarousel{
  justify-content: left;
}
 